.container {
  margin: 0 auto;
  padding-left: $gutter-item;
  padding-right: $gutter-item;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(xs) {
    width: 280px + $gutter;
  }

  @include media-breakpoint-up(sm) {
    width: 354px + $gutter;
  }

  @include media-breakpoint-up(md) {
    width: 688px + $gutter;
  }

  @include media-breakpoint-up(lg) {
    width: 944px + $gutter;
  }

  @include media-breakpoint-up(xl) {
    width: 1240px + $gutter;
  }

  @include media-breakpoint-up(xxl) {
    width: 1360px + $gutter;
  }
}
