// buttons

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid;
  transition: all 0.3s ease;
  white-space: nowrap;
  background-color: transparent;
  color: $body-color;

  &:hover:not(:disabled) {
    border-color: darken($color-primary, 5%);
    background-color: darken($color-primary, 5%);
    color: $color-white;
  }

  &:active:not(:disabled) {
    background-color: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
    color: $color-white;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    height: 60px;
    text-align: center;
  }

  &_primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-white;

    &:hover:not(:disabled) {
      background-color: darken($color-primary, 5%);
      border-color: darken($color-primary, 5%);
    }

    &:active:not(:disabled) {
      background-color: darken($color-primary, 10%);
      border-color: darken($color-primary, 10%);
    }
  }

  &_outline {
    background-color: transparent;
    color: $color-white;
    border-color: $color-white;

    &:hover:not(:disabled) {
      background-color: $color-white;
      border-color: $color-white;
      color: $color-primary;
    }

    &:active:not(:disabled) {
      background-color: darken($color-white, 2%);
      border-color: darken($color-white, 2%);
      color: $color-primary;
    }

    &.btn_primary {
      background-color: transparent;
      color: $color-primary;
      border-color: $color-primary;

      &:hover:not(:disabled) {
        border-color: darken($color-primary, 5%);
        background-color: darken($color-primary, 5%);
        color: $color-white;
      }

      &:active:not(:disabled) {
        background-color: darken($color-primary, 10%);
        border-color: darken($color-primary, 10%);
        color: $color-white;
      }
    }
  }

  &_lg {
    height: 80px;
    padding: 0 30px;
    font-size: 24px;

    @include media-breakpoint-down(lg) {
      height: 70px;
    }

    @include media-breakpoint-down(sm) {
      height: 60px;
      font-size: 22px;
    }
  }

  &_md {
    height: 60px;
    padding: 0 30px;
    font-size: 24px;
  }

  &_xs {
    height: 36px;
    padding: 0 10px;
    font-size: 18px;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.btn-icon {
  svg {
    fill: currentColor;
  }
}
